<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename ='file.css') }}">
    <script type="text/javascript" src= "{{ url_for('static', filename ='script.js') }}" >
        
    </script>

</head>
    <body>
        <h1> Form</h1>
        <form action="/submit" method="POST">
            <label for="science">Science: </label><br>
            <input type="text" id="science" name="science" value="0"><br>
            <label for="math">Math: </label><br>
            <input type="text" id="math" name="math" value="0"><br>
            <label for="C ">C:</label><br>
            <input type="text" id="c" name="c" value="0"><br>
            <label for="datascience">Data Science:</label><br>
            <input type="text" id="datascience" name="datascience" value="0"><br>
            <input type="submit" value="Submit"><br>
    
        </form>

    </body>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

</html>